.sub-data{
    justify-content: space-between;
    /* border-radius:5px; */
    align-items: center;
}

.sub-data:hover{
    justify-content: space-between;
    border-radius:5px;
    align-items: center;
    box-shadow:5px 5px 10px lightgray, -5px -5px 10px lightgray ;
    cursor: pointer;
}